#root_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alerts-container {
    left: 50%;
    position: fixed;
    width: 50%;
    z-index: 999;
    padding: 1rem;
}
