<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Тип аналитики</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src='scripts/main.js'></script>
    <script src='scripts/analytics_type.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div id="app">
    <div class="alerts-container">
        <div v-for="error in errorsList" class="alert alert-danger" role="alert">
            {{error.msg}}
        </div>
    </div>
    <!-- Основной контент -->
    <div class="container" id="root_container">
        <h1>Тип аналитики</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">{{analyticsType.id}}</span>
            <input v-model="analyticsType.name" type="text" class="form-control" placeholder="Наименование">
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Наименование</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in analyticsType.options">
                <td>{{row.id}}</td>
                <td><input type="text" class="form-control" v-model="row.name"></td>
              </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group">
            <button v-on:click="addRow" type="button" class="btn btn-outline-primary">Добавить строку</button>
            <button v-on:click="save" type="button" class="btn btn-outline-primary">Сохранить</button>
        </div>
    </div>
  </div>
</body>
</html>