<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Инструмент</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src='scripts/main.js'></script>
    <script src='scripts/instrument.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="app">
        <div class="alerts-container">
            <div v-for="error in errorsList" class="alert alert-danger" role="alert">
                {{error.msg}}
            </div>
        </div>
        <!-- Основной контент -->
        <div class="container" id="root_container">
            <h1 class="text-center">{{instrument.name}} ({{instrument.tiker}})</h1>
            <div v-for="analytic in analytics" class="input-group m-3">
                <span class="input-group-text" id="basic-addon1">{{analytic.name}}</span>
                <select v-model="analytic.selected" class="form-select" aria-label="Тип группировки">
                    <option value="0">Не указан</option>
                    <option v-for="option in analytic.options" :key="option.id" :value="option.id">{{option.name}}</option>
                </select>
            </div>
            <button v-on:click="save" type="button" class="btn btn-outline-primary">Сохранить</button>
        </div>
    </div>
</body>
</html>