<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Портфель</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src='scripts/main.js'></script>
    <script src='scripts/portfolio.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="app">
        <div class="alerts-container">
            <div v-for="error in errorsList" class="alert alert-danger" role="alert">
                {{error.msg}}
            </div>
        </div>
        <!-- Основной контент -->
        <div class="container" id="root_container">
            <h1 class="text-center">Состояние портфеля</h1>
            <!-- Отборы -->
            <div class="input-group mb-3">
                <select v-on:change="changeGroup" v-model="groupSelected" class="form-select" aria-label="Тип группировки">
                    <option v-for="option in groupOptions" :key="option.id" :value="option.id">{{option.name}}</option>
                </select>
                <button class="btn btn-outline-secondary" type="button" v-on:click="loadInstruments" title="Загрузить и обновить все">↻</button>
                <button class="btn btn-outline-secondary" type="button" v-on:click="modalIsVisible = true" title="Создать новую аналитику">+</button>
                <button class="btn btn-outline-secondary" type="button" v-on:click="openAnalytiics" title="Открыть аналитику">⧉</button>
            </div>
            <!-- Диаграма -->
            <figure class="figure p-3 w-75">
                <canvas calss="figurine-img m-3" id="portfolio_chart"></canvas>
                <figcaption class="figure-caption text-center fs-3" id="portfolio_chart_caption"></figcaption>
            </figure>
            <!-- Список инструментов -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Тикер</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Стоимость</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="row in instruments">
                        <td><a v-bind:href="'instrument.html?id='+row.id">{{row.tiker}}</a></td>
                        <td>{{row.name}}</td>
                        <td>{{row.sum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Модальное окно новой аналлитики -->
        <div v-if="modalIsVisible" id="modal" class="modal" style="display: block;" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Создание аналитики</h5>
                <button v-on:click="modalIsVisible = false" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input v-model="newAnalyticsType.name" type="text" class="form-control" placeholder="Наименование" aria-label="Наименование" aria-describedby="basic-addon1">
                </div>
                <div class="modal-footer">
                <button id="save_analytics_type" type="button" class="btn btn-primary">Создать аналитику</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>